<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to majorleaguepong.org, <%= @invitation.name %></h1>
    <p>
      You have been invited to sign up for league play. <% unless @invitation.team.blank? -%>Your team is <%= @invitation.team.name %>.<% else -%>You are playing as a free agent.
      <% end -%>
    </p>
    <p>
      <%= link_to "Login Now", @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
