<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>MajorLeaguePong.org</h2>
    <p>
      Hi, <%= @user.player.name %>. You have requested to reset your password.
    </p>
    <p>
      To choose a new password, just follow this link <%= link_to "to reset your password", @url %>
    </p>
    <p>
      This token will expire in 3 days.
    </p>
    <p>
      Have a great day!
    </p>
  </body>
</html>

