<div class="grid_16">
<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @shot.round_id %>
</p>

<p>
  <b>Player:</b>
  <%= @shot.player_id %>
</p>

<p>
  <b>Cup:</b>
  <%= @shot.cup %>
</p>
</div>
