<div class="grid_16">
<h3>Editing round</h3>
<p>
  <%= link_to "Delete", game_round_path(@game, @round), :method => :delete, :confirm => "Are you sure?" %>
</p>

<%= render :partial => 'form', :locals => { :edit => true } %>
</div>
