<div class="grid_16">
<h3>Editing round</h3>
<p>
  <%= link_to "Delete Round", game_round_path(@game, @round), :method => :delete, :confirm => "Are you sure?" %> | <%= link_to "Back", game_rounds_path(@game) %>
</p>

<%= render :partial => 'form', :locals => { :edit => true } %>
</div>
