#header, #footer { 
  margin-top: 40px;
}

#footer {
  margin-bottom: 40px;
}

#footer div:nth-child(2) {
  text-align: center;
}

#footer div:nth-child(3) {
  text-align: right;
}

#navigation ul {
  text-align: right;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  display: inline;
  margin-right: 10px
}

#navigation ul li:after {
  margin-left: 10px;
  content: "|"
}

#navigation ul li:last-child {
  margin-right: 0;
}
#navigation ul li:last-child:after {
  content: none;
}

#navigation .box a:after {
  content: ":"
}

#header .box {
  margin-bottom: 0;
}

#navigation h1 a {
  text-decoration:none;
}

.field_with_errors {color:#8a1f11;display:table;}

ul.no-disc {
  list-style-type: none;
  margin:0;
  padding:0;
}

p img.right {
float: right;
margin: 1.5em 0 1.5em 1.5em;
}
